@media (min-width: 800px) {
  .container {
    margin: 10vh 20vw 0 20vw;
  }
  #mode-text {
    margin-right: 3vw;
  }
  .profile-bottom-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
  .location {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .website {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .twitter {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-right: 20vw;
  }
  .company {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-right: 20vw;
  }
}