:root {
    --lm-bg: #F6F8FF;
    --lm-bg-content: #FEFEFE;
    --lm-text: #4B6A9B;
    --lm-text-alt: #2B3442;
    --lm-shadow-active: 0px 4px 4px 0px rgba(0,0,0,0.25);
    --lm-shadow-inactive: 0px 16px 30px -10px rgba(0,0,0,0.2);
    --lm-icon-bg: brightness(100%);
    /* Btn */
    --btn: #0079FF;
    --btn-hover: #60ABFF;
}
* {
  margin: 0;
  padding: 0;
}
body{
    background-color: var(--lm-bg);
    font-size: 13px;
    color: var(--lm-text);
}
.container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 2em;
}
.header {
  grid-row: 1/2;
  height: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#btn-mode {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  color: var(--lm-text);
}
.searchbar-container {
  grid-row: 2/3;
  border-radius: 3px;
  height: 5em;
  background-color: var(--lm-bg-content);
  box-shadow: var(--lm-shadow-inactive);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-container {
  grid-row: 3/4;
  background-color: var(--lm-bg-content);
  border-radius: 15px;
  box-shadow: var(--lm-shadow-inactive);
}
}
.icon-container {
  margin-left: 15vw;
}
.img-search {
  margin-left: 3vw;
}
#input {
  border: none;
  outline: none;
  color: var(--lm-text);
  width: 100%;
  height: 100%;
}
.btn-search {
  border-radius: 10px;
  width: 20%;
  height: 75%;
  margin-right: 4vw;
  background-color: var(--btn);
  color: white;
  border: none;
}
.profile-content{
    width: 280px;
    height: 481px;
    min-height: 517px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.profile-header{
    display: flex;
}
#avatar{
    width: 70px;
    height: 70px;
    border-radius: 90px;
}
.profile-name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-name h2{
    font-size: 16px;
    font-weight: bold;
    color: var(--lm-text-alt);
}
#user{
    color: var(--btn);
}
.profile-info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 70px;
    margin-left: 20px;
}
#bio{
    line-height: 25px;
}

.profile-stats-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--lm-bg);
    border-radius: 10px;
    text-align: center;

}
.profile-stat{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 85px;
}
.stat-title{
    font-size: 11px;
}
.stat-value{
    font-size: 16px;
    font-weight: bold;
    color: var(--lm-text-alt);
}
.profile-bottom-wrapper{
    height: 127px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-info{
    display: flex;
}
.bottom-icons{
    width:20px;
    filter: var(--lm-icon-bg);
}
.profile-info p{
    margin-left: 14px;
}
.error{
    position: absolute;
}
#no-results{
    position: relative;
    color: red;
    font-weight: bold;
    left: 150px;
}
.dm-text{
    color: var(--dm-text);
}
.dm-bg{
    background-color: var(--dm-bg);
}
.dm-bg-sec{
    background-color: var(--dm-bg-content);
}
.active{
    box-shadow: var(--lm-shadow-active);
}
